@model IEnumerable<FastFoodManagement.Models.TaiKhoan>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenTaiKhoan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatKhau)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThoiGianTao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoaiTaiKhoan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HinhAnh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NhanVien.HoTen)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenTaiKhoan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatKhau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiGianTao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoaiTaiKhoan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HinhAnh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NhanVien.HoTen)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.MaTaiKhoan }) |
                @Html.ActionLink("Details", "Details", new { id=item.MaTaiKhoan }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.MaTaiKhoan })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
