@using PagedList.Mvc;
@model PagedList.IPagedList<FastFoodManagement.Models.KhachVangLai>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/Admin1Layout.cshtml";
}

<h4>Khách vãng lai</h4>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>

@using (Html.BeginForm("Index", "KhachVangLais", FormMethod.Get))
{
    <div class="form-group form-inline">
        <input type="text" class="form-control" placeholder="Nhập họ tên:" name="hoten">
        <button type="submit" class="btn btn-success">Tìm kiếm</button>
    </div>
}
<table class="table table-striped">
    <tr>
        <th>
            Họ tên
        </th>
        <th>
            Địa chỉ
        </th>
        <th>
            Số điện thoại
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoDienThoai)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.MaKhachVangLai }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.MaKhachVangLai }, new { onclick = "return confirm('Bạn có chắc chắn muốn xóa mục này không?');" })
            </td>
        </tr>
    }

</table>

<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
</div>

<style>
    .MenuTrang li {
        margin: 5px;
        font-size: 17px;
    }
</style>
