@model FastFoodManagement.Models.NhanVien

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Layout/Admin1Layout.cshtml";
}
<h4>Thông tin tài khoản - quản trị</h4>

<table class="table table-striped">
    <tr>
        <th>Họ tên</th>
        <th>Giới tính</th>
        <th>Ngày sinh</th>
        <th>Số điện thoại</th>
        <th>Địa chỉ</th>
        <th>Email</th>
    </tr>
    <tr>
        <td>@Html.DisplayFor(model => model.HoTen)</td>
        <td>
            @if (Model.GioiTinh == true)
            {
                @:Nam
            }
            else
            {
                @:Nữ
            }
        </td>
        <td>@Html.DisplayFor(model => model.NgaySinh)</td>
        <td>@Html.DisplayFor(model => model.SoDienThoai)</td>
        <td>@Html.DisplayFor(model => model.DiaChi)</td>
        <td>@Html.DisplayFor(model => model.Email)</td>
    </tr>
</table>

<div class="form-horizontal" style="font-size: 17px;">
    <p>Tên tài khoản: @ViewBag.TaiKhoan.TenTaiKhoan</p>
    <p>Mật khẩu: @ViewBag.TaiKhoan.MatKhau</p>
    <p>
        Loại tài khoản:
        @if (ViewBag.TaiKhoan.LoaiTaiKhoan == 0)
        {
            @:Quản trị
        }
        @if (ViewBag.TaiKhoan.LoaiTaiKhoan == 1)
        {
            @:Nhân viên
        }
    </p>
</div>
<div>
    @Html.ActionLink("Trở về", "Index", "Admin")
</div>
