@model IEnumerable<FastFoodManagement.Models.HoaDonThanhToan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GhiChu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThoiGian)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KhachHang.TenKhachHang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KhachVangLai.HoTen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NhanVien.HoTen)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GhiChu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThoiGian)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KhachHang.TenKhachHang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KhachVangLai.HoTen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NhanVien.HoTen)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaHoaDon }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaHoaDon }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaHoaDon })
        </td>
    </tr>
}

</table>
