@model FastFoodManagement.Models.DonHang

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Layout/Admin1Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DonHang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThoiGianDatHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThoiGianDatHang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoaDonThanhToan.GhiChu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoaDonThanhToan.GhiChu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MonAn.TenMonAn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonAn.TenMonAn)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { mahoadon = Model.MaHoaDon, mamonan = Model.MaMonAn }) |
    @Html.ActionLink("Back to List", "Index")
</p>
