@model List<FastFoodManagement.Models.GioHang>

@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}

<h4>Giỏ hàng của bạn</h4>
<div style="color:red">
    @Html.Raw(TempData["ThongBao"])
</div>
<div class="form-group">
    Khuyến mãi đang được áp dụng: (@ViewBag.TongGiaTri)%
    @foreach (var item in ViewBag.KhuyenMai)
    {
        <ul>•@item.MoTa: @item.GiaTri%</ul>
        @*@Html.DisplayFor(Modelitem => item.MoTa)*@
    }
</div>
<table id="divGioHang" class="table table-striped">
    <tr style="font-size:18px;font-weight: bold;">
        <td>Tên món ăn</td>
        <td>Hình ảnh</td>
        <td>Đơn giá</td>
        <td>Số lượng(Tổng cộng: @ViewBag.TongSoLuong)</td>
        <td>Thành tiền</td>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            @*<td>@item.iMaMonAn</td>*@

            <td>@item.sTenMonAn</td>

            <td><a href="@Url.Action("Details", "MonAns", new { @id = item.iMaMonAn})"><img src="@Url.Content("~/HinhAnh/"+item.sHinhAnh)" width="200" height="120" /></a></td>

            <td style="text-align:left;color:black;font-style:italic;">
                @String.Format("{0:0,0}", item.dDonGia) VNĐ
            </td>

            <td>@item.iSoLuong</td>

            <td style="text-align:left;color:black;font-style:italic;">
                @String.Format("{0:0,0}", item.ThanhTien) VNĐ
            </td>

        </tr>
    }
    <tr>
        @*<td colspan="4" style="text-align:right;color:black;font-weight: bold;">
                Tổng số lượng: @ViewBag.TongSoLuong
            </td>*@
        <td colspan="5" style="text-align:right;color:black;font-style:italic;">
            Tổng tiền: @String.Format("{0:0,0}", @ViewBag.TongTien) VND
        </td>
    </tr>
    <tr>
        <td colspan="6" style="text-align:right;color:blue">
            @Html.ActionLink("Chỉnh sửa giỏ hàng", "SuaGioHang", new { }, htmlAttributes: new { @class = "btn btn-outline-success" })
        </td>

    </tr>
    <tr>
        @*<td colspan="5" style="text-align:right;color:blue">*@

        @*</td>*@
    </tr>
</table>
<div class="form-inline" style="margin:7px;">
    @using (Html.BeginForm("DatHang", "GioHang"))
    {
        <input type="submit" style="cursor:pointer;" id="btnDatHang" value="Đặt hàng " class="btn btn-success ">
    }
    @Html.ActionLink("Đăt hàng lấy trực tiếp", "DatHangTrucTiep", "GioHang", new { }, htmlAttributes: new { @class = "btn btn-danger" })
</div>
<br />
@*Css giỏ hàng*@
<style>
    #divGioHang {
        /*color: black;*/
        /*border: 1px ridge black;*/
        /*margin-left: 3%;*/
        /*font-size: 16px;*/
        width: 95%;
    }

        #divGioHang td {
            /*margin: auto;*/
            /*padding: 10px;*/
            /*border: 1px ridge black;*/
            /*float:left;*/
        }

    /*#divGioHang #btnDatHang {
            position: center;
            margin: auto;
        }*/
</style>
