@model List<FastFoodManagement.Models.GioHang>
@{
    ViewBag.Title = "SuaGioHang";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}

<main role="main" class="probootstrap-main js-probootstrap-main">
    <table id="divGioHang">
        <tr>
            <td style="font-weight: bold;">Mã sách</td>
            <td style="font-weight: bold;">Tên sách</td>
            <td style="font-weight: bold;">Hình ảnh</td>
            <td style="font-weight: bold;">Đơn giá</td>
            <td style="font-weight: bold;">Số lượng</td>
            <td style="font-weight: bold;">Thành tiền</td>
        </tr>

        @foreach (var item in Model)
        {

            <tr>
                <td>@item.iMaMonAn</td>

                <td>@item.sTenMonAn</td>

                <td><img src="@Url.Content("~/HinhAnh/"+item.sHinhAnh)" width="100" height="100" /></td>

                <td>
                    @String.Format("{0:0,0}", item.dDonGia) VNĐ
                </td>
                @*Chỉnh sửa giỏ hàng gọi về action CapNhatGioHang*@
                @using (Html.BeginForm("CapNhatGioHang", "GioHang", new { @id = item.iMaMonAn }))
                {
                    <td>@Html.TextBox("txtSoLuong", item.iSoLuong) </td>

                    <td>@String.Format("{0:0,0}", item.ThanhTien) VNĐ</td>
                    <td>
                        <input type="submit"style="cursor:pointer;" id="btnCapNhat" value="Cập nhật" class="btn btn-sm btn-success ">
                        <br />
                        @*Xóa giỏ hàng gọi về Action XoaGioHang*@
                        @Html.ActionLink("Xóa", "XoaGioHang", new { @id = item.iMaMonAn }, htmlAttributes: new { @class = "btn btn-success", onclick = "return confirm('Bạn chắc chắn muốn xóa món ăn này?');" })
                    </td>
                }

                <td></td>
            </tr>

        }
    </table>
</main>
@*Css giỏ hàng*@
<style>
    #divGioHang {
        color: black;
        border: 1px solid #EEEEEE;
        margin-left: 3%;
        font-size: 16px;
        width: 90%;
    }

        #divGioHang td {
            margin: auto;
            padding: 10px;
            border: 1px solid #EEEEEE;
            /*float:left;*/
        }

        #divGioHang #btnCapNhat {
            position: center;
            margin: auto;
        }
</style>
