@using FastFoodManagement.Models
@model List<MonAn>
@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}

@Html.Action("MonAnTheoChuDePartial", "ChuDes")
@using (Html.BeginForm("Menu", "Home", FormMethod.Get))
{
    <div class="form-group form-inline">
        <input type="text" class="form-control" placeholder="Nhập tên món ăn:" name="tenmon">
        <button type="submit" class="btn btn-success">Tìm kiếm</button>
    </div>
}
<div class="card-columns">
    @foreach (var item in Model)
    {
        <div class="card">
            <a href="@Url.Action("Details", "MonAns", new { @id=item.MaMonAn })">
                <div class="tag">@item.TenMonAn</div>
                <img class="card-img-top probootstrap-animate" src="@Url.Content("~/HinhAnh/"+item.HinhAnh)" alt="Card image cap">
                <div class="tag">Giá tiền: @String.Format("{0:0,0}", item.DonGia) VNĐ</div>
            </a>
            <div id="btn">
                @using (Html.BeginForm("ThemGioHang", "GioHang", new { @iMaMonAn = item.MaMonAn, @strURL = Request.Url.ToString() }))
                {
                    <input type="submit" style="cursor:pointer" value="Thêm vào giỏ hàng " id="btnGioHang" class="btn btn-success btn-block full-width">
                }
            </div>
        </div>
    }
</div>
<style>
    .MenuTrang li {
        display: inline;
        margin: 5px;
        font-size: 23px;
    }

    .tag {
        background: rgba(0, 0, 0, 0.05);
    }

    #btn {
        background: rgba(0, 0, 0, 0.05);
        background-size: cover;
    }

        #btn #btnGioHang {
            background-size: cover;
        }
</style>

